h1, p {
  text-align: center;
}

div {
  display: block;
}

.row {
  text-align: center;
}

.label {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: middle;
  margin-top:  10px;
}

.right {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
}

#dropdown {
  height: 20px;
  width: 200px;
  padding: 5px;
  margin: 10px;
}

.radio {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.userRatings {
  float: left;
  margin-right: 5px;
}

.checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.comment-box {
  height: 50px;
  resize: vertical;
  padding: 5px;
  margin: 10px;

}
